

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-family: "Concert One", sans-serif;
}
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

:root {
    --bg-color: #1C2E4A;
    --second-bg-color: #0F1A23;
    --text-color: #D1CFC9;
    --main-color: #52677D;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-image: url('2005.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 12% 3rem;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    text-decoration: none;
    color:  var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow:  0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px  solid transparent;
}
.navbar  a:hover,
.navbar a.active{
    color: var(--main-color);

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.logo span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 6rem;
    font-weight: 200;
    margin: 0;
}
.home-content h2{
    text-decoration: underline;
    margin: 0.1rem;
    font-size: 10rem;
    font-weight: 800;
}
.home-content p{
    font-size:1.5rem ;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;

}
.home {
    display: flex;
    align-items: center;
    gap: 15rem;
    position: relative;
}
.home-social-icons {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    display: flex; 
}

.home-social-icons a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);  
    margin: 6rem 2.5rem 5rem 1.5rem;
    transition: 0.3s  ease-in-out;
}

.home-social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px) ;
    box-shadow: 0 0 25px var(--second-bg-color);
    background-color: var(--second-bg-color);
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s  ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    margin: 5rem 0 8rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation{
    font-size: 34px ;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    list-style-type: none; 
    position: relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    width: calc(100% + 80px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid;
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Frontend Web Developer';
    }
    21%,
    40%{
        content: 'App Developer';
    }
    41%,
    60%{
        content: 'UI / Ux Designer';
    }
    61%,
    80%{
        content: 'Backend Developer';
    }
    81%,
    100%{
        content: 'Student';
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: white;
}
.about h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.about-img{
   border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-decoration: underline;
    text-align: left;
}
.about-content h1{
    text-align: left;
    font-weight: 700;
}
.about-content p{
    font-size: 1.8rem;
    margin: 6rem 0 5rem;
}
.about-content h3{
    margin: 1rem 0 1rem;
    text-align: left;
    font-size: 4rem;
    font-weight: 700;
}
.about ul {
    padding: 10;               
}
.about li {
    text-decoration: none;
    font-size: 1.8rem;
    margin-bottom: 15px;    
}
.about ul li {
    list-style-type: none;     
}
.about ul li span {
    text-decoration: none;
   color: #aeadad; 
}
.about ul li a {
    text-decoration: none;                 
    border-bottom: 3px solid transparent; 
    transition: 0.3s ease-in-out; 
    padding: 5px 0;          
}

.resume .heading{
    text-align: center;
    font-size: 8rem;
    color: var(--text-color);
}
.resume{
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);
}
.resume .container{
    width: auto;
    gap: 0.5em;
    margin: 0 auto;
    border-radius: 10px;
}
.resume .item{
    background-color: #8e8e9d;
    padding: 1em;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 10px;                   
    text-align: center;
    border: 10px solid var(--second-bg-color);
}
.resume .item img { 
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.resume .container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}
.resume .item-1 {
    color: var(--main-color);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    font-size: 2rem;
    gap: 2rem;
    padding: 0;
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column: 1/4; 
} 
.resume .item-1 ul { 
    padding: 0; 
    margin: 0; 
    list-style-type: none;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.resume .item-1:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-1 ul li { 
    color: var(--text-color);
    text-align: center; 
    align-items: center;
     justify-content: center; 
     display: flex;
}
.resume .item-2{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 800;
    grid-column: 4/6;
    grid-column-end: span 2;
    grid-row: 1/3
}
.resume .item-2 img { 
    max-width: 90%; 
    border-radius: 50%;
    height: auto; 
    margin: 0 10px;
    top: 10px;
    left: 50%; 
}
.resume .item-2:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-3{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 800;
    grid-column: 6/8;
    grid-column-end: span 2;
    grid-row: 1/3;
}
.resume .item-3 img { 
    max-width: 90%;
    border-radius: 50%; 
    height: auto; 
    margin: 0 10px;
    top: 10px;
    left: 50%; 
}
.resume .item-3:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-4 {
    color: var(--main-color);
    grid-column: 8/12;
    grid-row: span 2;
    font-size: 2em;
    gap: 0.5em;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}
.item-4 .resume-social-icons a{
    gap: 1rem;
    font-size: 30px;
    color: var(--text-color);
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}
.resume .item-4:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-5{
    grid-row-end: span 3;
    grid-column: 1/4;
    color: var(--main-color);
    font-weight: 900;
    gap: 0.5em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume .item-5 ul li{
    color: var(--text-color);
    list-style-type: none;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume .item-5:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-6 {
    color: var(--main-color);
    grid-column: 4 / 12;
    grid-row: 3 / 5;  
    display: flex;
    flex-direction: column; 
    font-size: 1.9rem; 
    font-weight: 900;    
    justify-content: center; 
    align-items: center; 
    position: relative;
    gap: 12px; 
}
.resume .item-6 img { 
    max-width: 31%; 
    height: auto; 
    margin: 0 10px;
    top: 10px;
    left: 50%; 
}
.resume .item-6:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.projec-list-container {
    display: flex;
    flex-direction: row;
}

.resume .item-7{
    color: var(--main-color);
    grid-column: 4/8;
    grid-row: span 2;
    font-weight: 900;
    gap: 0.5em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume .item-7 ul li{
    color: var(--text-color);
    list-style-type: none;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume .item-7:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.resume .item-8 {
    color: var(--main-color);
    grid-column: 8/12;
    grid-row: span 2;
    font-weight: 900;
    gap: 0.5em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume .item-8 ul li{
    color: var(--text-color);
    list-style-type: none;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume .item-8:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.services .heading{
    color: var(--text-color);
}
.services {
    background-color: var(--second-bg-color);
    color: black;
}
.services .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    border-radius: 10px;
    width: 88%;
    margin: 0 auto;
    border: 10px solid var(--second-bg-color);
}
.services .item {
    background-color: var(--main-color);
    padding: 1em;
    font-weight: 700;
    color: var(--second-bg-color);
    text-align: center;
    border-radius: 10px;
    border: 10px solid var(--bg-color);
    flex: 1 1 300px; /* Allow items to grow/shrink, base width of 300px */
}
.services h1 {
    font-size: 1.5rem;
    font-weight: 900;
}
.services p {
    font-weight: 900;
    font-size: 20px;
}
.services .item-1{
    flex-grow: 1;
    flex-basis: 700px;
}
.services .item-1:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    transition: transform .5s ease, var(--bg-color) .5s ease-out, var(--text-color) .5s ease-out;
}
.services .item-2{
    height: 50%;
    width: 50%;
    flex-basis: 150px;
    font-size: 4rem;
}
.services .item-2:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.services .item-3{
    height: 50%;
    width: 50%;
    flex-basis: 150px;
    font-size: 4rem;
}
.services .item-3:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.services .item-4{
    flex-grow: 1;
    flex-basis: 700px;
}
.services .item-4:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.services .item-5{
    flex-grow: 1;
    flex-basis: 700px;
}
.services .item-5:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.services .item-6{
    height: 50%;
    width: 50%;
    flex-basis: 150px;
    font-size: 4rem;
}
.services .item-6:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.skills {
    background: var(--bg-color);
}
.skills .container {
    background: #afaead54;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 9rem;
    width: 90%;
    margin: auto;
    margin-top: 9rem;
}
.skills .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}
.skills :root {
    --background: #3c343d;
    --background-border: #6b626c;
}
.skills * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills body {
    font-family: Poppins;
    height: 100vh;
    padding: 32px;
    display: grid;
    place-items: center;
    background-color: var(--background);
}
.skills img{
    justify-content: space-around;
}
.skills h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.skills .subheading {
    color: #ffffff; 
    margin-top: 32px; 
    font-size: 3rem; 
    text-align: center;
    margin: 2rem;
}
.skills .gallery {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: var(--background);
    gap: 15rem;
    padding: 20px;
}
.skills .card {
    justify-content: space-around;
    margin: 2rem;
    position: relative;
    width: 148px;
    height: 148px;
    background-color: var(--background);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background-border);
    overflow: hidden;
}
.skills .container .bar .info img {
    width: 100px; 
    height: auto; 
}
.skills .card img {
    text-align: center;
    height: 148px;
    object-fit: cover;
    border-radius: 4px;
}
.skills .card:hover {
    cursor: pointer;
    transform: scale(1.15);
}
.skills .card:hover figcaption {
    font-size: 0.6rem;
    position: absolute;
    height: 180px;
    width: 160px;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
}
.skills .frontend {
    background-color: var(--second-bg-color);
}
.skills .backend {
    background-color: var(--second-bg-color);
}

.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem;
    resize: none;
}

.footer{
    background-color: var(--bg-color);
    padding: 50px 0;
}
.footer {
    padding: 2rem 0;               
    text-align: center;                
    position: relative;                
}
.footer-social-icons {
    display: flex;                      
    justify-content: center;             
    margin-top: 1rem;                   
}
.footer-social-icons a {
    text-decoration: none;               
    display: inline-flex;            
    justify-content: center;          
    align-items: center;                 
    width: 4.5rem;                      
    height: 4.5rem;                      
    background: transparent;            
    border: 2px solid var(--main-color); 
    font-size: 2.5rem;                  
    border-radius: 50%;             
    color: var(--main-color);           
    margin: 0 1.5rem;                   
    transition: 0.3s ease-in-out;      
}
.footer-social-icons a:hover {
    transform: scale(1.2);              
    box-shadow: 0 0 25px var(--second-bg-color); 
    background-color: var(--second-bg-color); 
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin: 20px;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: transparent;
    color: var(--main-color);
}
.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}